body {
    font-size: 1.2rem;
    font-family: Georgia, Cambria, "Times New Roman", sans-serif;
    background-color:black;

}
header, form{
    text-align: center;
}
ul li{
    margin: 10px;
    display: inline-block;
    align:center;

}

ul li a{
    border: 1px black solid;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: red;
}
img{
   border:3px solid white;
   padding:5px
}

input[type="text"]{
    border-color: red;
    background-color: white;
    padding: 5px;
    margin-left:10px;
    width:200px;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="submit"] {
    border-color: black;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="submit"]:hover{
    border-color: black;
    background-color: white;
    color: red;
    padding: 5px;
}


.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

#Pokemons {
    margin-right:auto;
    margin-left: auto;
    margin-top: 10px;
    width: 80%;
    background-color: red;
    border:3px solid white;
    border-radius: 25px;
}

#Pokemons figure {
    float: left;
    clear: right;
    margin-right: 5%;
}

#Pokemons figure figcaption {
    text-align: center;

}
